@page
@model PasswordFortress.Pages.Password.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PasswordManagerModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PasswordManagerModel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PasswordManagerModel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PasswordManagerModel.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PasswordManagerModel.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PasswordManagerModel.PassPhrase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PasswordManagerModel.PassPhrase)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PasswordManagerModel.Url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PasswordManagerModel.Url)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PasswordManagerModel.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PasswordManagerModel.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PasswordManagerModel?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
